* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vh;
    background-image: url("/assets/cat-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main {
    margin-top: auto;
    margin-bottom: auto;
}