<div class="super valign-wrapper center ">
    <div class="row form-border" >
        <form class="col s12" action="/auth/register" method="post">

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Пароль</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="role" name="role" type="text" class="validate">
                    <label for="role">Роль</label>
                </div>
            </div>

            <button class="btn z-depth-0 light-blue lighten-3 waves-effect waves-light" type="submit">Зарегистрировать</button>
        </form>
    </div>
</div>
